.nav-item .nav-link:hover{
	width:100%;
	background: #EAF0ED;
	border-radius: 5px;
	transition: all 0.5s;
} 

@include media-breakpoint-down(sm){
		.nav-item .nav-link{
			text-align: center;
			&:hover{
				text-indent: -10%;
			}
		}
}

.bg-cover{
	background-size: cover;
	background-position: center center;
}

.list-group-item{
	font-size: 24px;
	font-weight: 700;
	color: $primary;
	transition: all 0.3s;       
}

.page-link{
	font-size: 20px;
	font-weight: 500;
}
